{% extends 'base.html' %}

{% block title %}All Users{% endblock %}

{% block content %}
    <div id="profile">
        <div id="grid-left"><img src="{{user.image_url}}" id="image"></img></div>
        <div id="grid-right"><h1 id="username">{{user.first_name}} {{user.last_name}}</h1></div>
        <form action="/{{user.id}}/edit">
            <button id="edit">Edit</button>
        </form>
        <form action="/{{user.id}}/delete" method="POST">
        <button id="delete">Delete</button>
        </form>
    </div>
    <a href="/users">Go Back</a>
{% endblock %}



