{% extends 'base.html' %}

{% block title %}View Post{% endblock %}

{% block content %}
<div id="title-container">
    <h1>{{post.title}}</h1>
</div>
<div id='content-container'>
    <p>{{post.content}}</p>
</div>
<form action="/users/{{user.user_id}}">
    <button class="white">Cancel</button>
</form>
<form action="/post/{{post.id}}/edit">
    <button class="blue">Edit Post</button>
</form>
<form action="/post/{{post.id}}/delete" method="POST">
    <button class="red">Delete Post</button>
</form>
<div>
    <h2>Tags for {{post.title}}</h2>
    <ul> {% for tag in tags %}
        <li>{{tag.name}}</li>
        {% endfor %}
    </ul>
</div>
<div>
{% endblock %}